<ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button" ng-click="gethomepage()">Home</button>
      </div>
     
        <h1 class="title">Have a Question?</h1>
    
      <div class="buttons">
        <button class="button" ng-click="loadmodal()">Call to order</button>
      </div>
</ion-header-bar>
<ion-content class="padding background_image">
	<div id="form_fields">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">First Name</span>
		    <input type="text" placeholder="Mike">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Last Name</span>
		    <input type="text" placeholder="Martin">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="mike_marting@gmail.com">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Phone number</span>
		    <input type="text" placeholder="345-874-9087">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Comments</span>
		    <textarea rows="4" placeholder="Comments"></textarea>
		  </label>
		</div>
	</div>
	<div id="submit_button">
		<button class="button button-block button-positive">
			Send us feedback
		</button>
	</div>
</ion-content>