<ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button" ng-click="gethomepage()">Home</button>
      </div>
     
        <h1 class="title">Food Menu</h1>
    
      <div class="buttons">
        <button class="button" ng-click="loadmodal()">Call to order</button>
      </div>
</ion-header-bar>
<ion-content class="padding background_image">
  <div class="item-contanier text_layer">
     
    <div ng-controller="getfoodidctrl">
      <d-expand-collapse>
      </d-expand-collapse> 
    </div>
     
  </div>
</ion-content>