<ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button" ng-click="gethomepage()">Home</button>
      </div>
     
        <h1 class="title">{{title}}</h1>
    
      <div class="buttons">
        <button class="button" ng-click="loadmodal()">Call to order</button>
      </div>
    </ion-header-bar>
    <!-- Modal content area <img src="https://s32.postimg.org/xc4jmfsl1/food_images_test.jpg"> -->

    <ion-content class="background_image_homes">
    <div ng-controller="mongodatactrl"></div>
    <div class="row">
        <div class="col col-50">
            <a class="item item-thumbnail-center item_homepage" href="#/tabdash">
                <div id="tabname">About us</div>           
            </a>
        </div>
        <div class="col col-50">
            <a class="item item-thumbnail-center item_homepage" href="#/foddmenu">
                <div id="tabname">Food Menu</div>           
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
            <a class="item item-thumbnail-center item_homepage" href="#/geolocation">
                <div id="tabname">Delivery area</div>           
            </a>
        </div>
        <div class="col col-50">
            <a class="item item-thumbnail-center item_homepage" href="#/review">
                <div id="tabname">Reviews</div>           
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
            <a class="item item-thumbnail-center item_homepage" href="#/contactus">
                <div id="tabname">Contact US</div>           
            </a>
        </div>
        <div class="col col-50">
            <a class="item item-thumbnail-center item_homepage" href="#/sociallink">
                <div id="tabname">Find us</div>           
            </a>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col col-50">
            <div class="list">
                <div class="responsive_thumbnail">
                    <a class="item item-thumbnail-center" href="#/tabdash">
                        
                        <div id="menu_name" class="menu_name">
                            <span id="tabname">About Us</span>
                        </div> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-50">
            <div class="list">
                <div class="responsive_thumbnail">
                    <a class="item item-thumbnail-center" href="#/foddmenu">
                       
                        <div id="menu_name" class="menu_name">
                          <span id="tabname">Food Menu</span>
                        </div> 
                    </a>
                </div>            
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col col-50">
            <div class="list">
                <div class="responsive_thumbnail">
                    <a class="item item-thumbnail-center" href="#/geolocation">
                        
                        <div id="menu_name" class="menu_name">
                          <span id="tabname">Location</span>
                        </div> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-50">
            <div class="list">
                <div class="responsive_thumbnail">
                    <a class="item item-thumbnail-center" href="#/page2">
                        
                        <div id="menu_name" class="menu_name">
                          <span id="tabname">Serving area</span>
                        </div> 
                    </a>
                </div>            
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col col-50">
            <div class="list">
                <div class="responsive_thumbnail">
                    <a class="item item-thumbnail-center" href="#/tabdash">
                        
                        <div id="menu_name" class="menu_name">
                          <span id="tabname">Contact Us</span>
                        </div> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-50">
            <div class="list">
                <div class="responsive_thumbnail">
                    <a class="item item-thumbnail-center" href="#/page2">
                        
                        <div id="menu_name" class="menu_name">
                          <span id="tabname">Cater Menu</span>
                        </div> 
                    </a>
                </div>            
            </div>
        </div>
    </div>
    -->
    </ion-content>
    