<ion-header-bar align-title="center" class="bar-positive" ng-controller="modelreviewctrl">
    <div class="buttons">
        <button class="button" ng-click="gethomepage()">Home</button>
    </div>
    <h1 class="title">Foodie's likes</h1>
    <div class="buttons">
        <button class="button" ng-click="launch_model()">Post a review</button>
    </div>
</ion-header-bar>
<ion-content class="padding background_image">
    <div class="list card review_card" ng-controller="StarCtrl">
        <div ng-repeat="review in ratings">
            <div class="item item-avatar border_back">
                <div class="headering_design">{{review.fname}} {{review.lname}}</div>
                <p class="date_design">{{review.r_date}}</p>
                <div class="rating_back"> 
                <!-- Add below in div tag ng controller = star controller if required {{rating.current}} out of{{rating.max}} -->
                        <div star-rating type="dir_readonly" rating-value="review.rating" max="5"  on-rating-selected="getSelectedRating(rating)" >
                        </div>
                </div> 
                <div>
                    <p class="feedback_design">
                        <span>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </span>
                        {{review.feedback}}
                        <span>
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
            </div>
            
        </div>

    </div> 
</ion-content>