
<ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button" ng-click="gethomepage()">Home</button>
      </div>
     
        <h1 class="title">Find us</h1>
    
      <div class="buttons">
        <button class="button" ng-click="loadmodal()">Call to order</button>
      </div>
    </ion-header-bar>
      <ion-content class="background_image">
      	<div class="font_color">
      		Fins us on..!
      	</div>
      	<div class="social_icons">
      	<div class="social_icon_holder">
      		<div class="icon_social">
      			<img class="rwd_logo" src="https://s31.postimg.org/dpngqwbwr/icon_twiteer.png" alt="food name">	
      		</div>
      		<div class="logo_social">
      			<img src="https://s31.postimg.org/5qadnybwb/icon_Logo_twitter.png" alt="food name">	
      		</div>
      	</div>
      	<div class="social_icon_holder">
      		<div class="icon_social">
      			<img class="rwd_logo" src="https://s31.postimg.org/f13y7ai57/icon_facebook.png" alt="food name">
      		</div>
      		<div class="logo_social">
      			<img src="https://s31.postimg.org/4rfrwtdej/icon_facebook_logo.png" alt="food name">
      		</div>
      	</div>
      	<div class="social_icon_holder">
      		<div class="icon_social">
      			<img class="rwd_logo" src="https://s31.postimg.org/chzvnu5ij/icon_instagram.png" alt="food name">
      		</div>
      		<div class="logo_social">
      			<img src="https://s32.postimg.org/tvf85m6at/icon_Instagram_logo.png" alt="food name">
      		</div>
      	</div>
      	</div>
      	
      	
      </ion-content>