<ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button" ng-click="gethomepage()">Home</button>
      </div>
     
        <h1 class="title">About us</h1>
    
      <div class="buttons">
        <button class="button" ng-click="loadmodal()">call to order</button>
      </div>
    </ion-header-bar>
    <!-- Modal content area -->

    <ion-content class="background_image">
    <div class="_aboutus_content">
      <div class="first_para">
           We are food start up that serving homemade food based on the pre order. We preapred fodd at home with authentic spice. We recommed you to have authentic india taste.
      </div>
      <div class="second_para"> 
          We also provide the for for catering. We will not take order more than 5 plate per order. So look at the menu and place the order. For faster delivery call and place the order.
      </div>
    </div>
    </ion-content>